@import "./tokens.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--bg));
    color: hsl(var(--fg));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  a {
    text-underline-offset: 4px;
  }
  a:hover {
    text-decoration: underline;
  }
}
